body {
    background-color: #4a90e2;
    font-family: arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}


.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius:30px;
}

.content {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    
}

h1:hover {
    color: black;
    transition: color 0.3s ease-in-out;
}


.subtitle {
    display: block;
    font-size: 1.2em;
    font-style: italic;
    margin: 0 auto;
}

.president {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 15px;
}

.list {
    list-style-type: decimal;
    padding-left: 0px;
    text-align: center;
    display: inline-block;
    margin: 10px auto;
    text-align: left;

    color: black;
    font-weight: bold;
}

.profile-img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    padding: 40px;
}

p {
    padding: 20px;
    line-height: 2em;
    text-align: center;
    margin: 0 auto;

}

.quote {
    font-size: 3em;
    font-style: italic;
    margin: 20px auto;
    width: 80%;
}

.author {
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    color: black;
}

